@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fix for Leaflet map tiles z-index stack context */
.leaflet-pane {
  z-index: 10 !important;
}
.leaflet-top, .leaflet-bottom {
  z-index: 20 !important;
}